{{#> main}}
    {{#*inline "content"}}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
      <!-- weare -->
      <div class="weare mt-4">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Who We Are</h2>
                     <span>d to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum gener</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="row">
                     <div class="col-md-6 margin_boo">
                        <div class="weare_box ">
                           <figure><img src="/img/avatar.jpg" alt="#"/></figure>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="weare_box">
                           <figure><img src="/img/avatar.jpg" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="weare_box">
                     <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat pre</p>
                     <a class="read_more" href="#">Read more</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- weare -->
      <!-- Our -->
      <div id="" class="Our">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Planning Includes</h2>
                     <span>We are glad to provide these services for your wedding with perfect planning.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="/img/avatar.jpg" alt="#"/></i>
                     <h4>FLOWER DECORATIONS</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate velit</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="/img/avatar.jpg" alt="#"/></i>
                     <h4>BEST RESTAURANT</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate velit</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="Our_box">
                     <i><img src="/img/avatar.jpg" alt="#"/></i>
                     <h4>HONEYMOON</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t dolor in reprehenderit in voluptate velit</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="#">Read more</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our -->
      <!-- regist -->
      <div id="regist" class="regist">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Get Registered</h2>
                     <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <form class="main_form">
                     <div class="row">
                        <div class="col-md-6 ">
                           <input class="contactus" placeholder="First Nmae" type="text" name="First Nmae">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Last Name" type="text" name=" Last Name">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Email Address" type="text" name="Email Address">
                        </div>
                        <div class="col-md-6">
                           <input class="contactus" placeholder="Date of The Event " type="text" name="Date of The Event ">
                        </div>
                        <div class="col-sm-12">
                           <button class="register">Register Now</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end regist -->
    {{/inline}}
{{/main}}
    