{{#> main}}
    {{#*inline "content"}}
        <form class="mt-4">
            <div class="custom-file">
                <input type="file" class="custom-file-input">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>    
            <button type="button" class="btn btn-success form-control" onclick="submitForm()">Upload</button>
        </form>
        <script src="/js/upload.js"></script>
    {{/inline}}
{{/main}}
    