* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}