<header class="header-section dis-flex" id="ScrollToTop">
    <div class="header-logo dis-flex flex-10">
        <a href="/">
            <img src="/img/avatar.jpg" class="header-logo__img">
        </a>
    </div>
    <div class="header-search dis-flex flex-20">
        <input class="header-search__input" placeholder="Search">
        <img src="/icons/search.svg" class="header-search__icon">
    </div>
    <div class="header-menu dis-flex flex-40">
        <a class="header-menu_home icon-menu" href="/">
            <i class="fas fa-home"></i>
        </a>
        <a class="header-menu_noti icon-menu">
            <i class="fas fa-bell"></i>
        </a>
        <a class="header-menu_cart icon-menu" href="/cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <a class="header-menu_info icon-menu" href="/about">
            <i class="fas fa-info-circle"></i>
        </a>
        <a class="header-menu_info icon-menu" href="/love">
            <i class="fas fa-heart"></i>
        </a>
        <a class="header-menu_info icon-menu" href="/cv">
            <i class="fas fa-file-alt"></i>
        </a>
    </div>
    <div class="header-account dis-flex flex-30">
        <a class="header-account__change-theme icon-menu" title="Change theme" data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">
            <i class="fab fa-gg"></i>
            
        </a>
        <a class="header-account__more icon-menu">
            <i class="fas fa-align-justify"></i>
        </a>
    </div>
</header>