<header class="header-section dis-flex" id="ScrollToTop">
    <div class="header-logo dis-flex flex-10">
        <a href="/">
            <img src="/img/avatar.jpg" class="header-logo__img">
        </a>
    </div>
    <div class="header-search dis-flex flex-20">
        <input class="header-search__input" placeholder="Search">
        <img src="/icons/search.svg" class="header-search__icon">
    </div>
    <div class="header-menu dis-flex flex-40">
        <a class="header-menu_home icon-menu" href="/">
            <i class="fas fa-home"></i>
        </a>
        <a class="header-menu_noti icon-menu">
            <i class="fas fa-bell"></i>
        </a>
        <a class="header-menu_cart icon-menu" href="/cart">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <a class="header-menu_cart icon-menu" href="/chat">
            <i class="fas fa-comment-alt"></i>
        </a>
    </div>
    <div class="header-account dis-flex flex-30">
        <a class="header-account__change-theme icon-menu" title="Change theme" data-toggle-theme="dark,light" data-act-class="ACTIVECLASS">
            <i class="fab fa-gg"></i>
            
        </a>
        <a class="header-account__more icon-menu" type="button" data-toggle="modal" data-target="#rightMenuModal">
            <i class="fas fa-align-justify"></i>
        </a>
    </div>

    <!-- Modal Right Menu-->
    <div class="modal fade" id="rightMenuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        <a href="/login" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">Login</button>
                        </a>
                        <a href="/logout" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">Logout</button>
                        </a>
                        <a href="/cmsn" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">CMSN</button>
                        </a>
                        <a href="/cv/nguyen-ngoc" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">CV Nguyên Ngọc</button>
                        </a>
                        <a href="/cv/hieu-le" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">CV Hiếu Lê</button>
                        </a>
                        <a href="/motel-cost" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">Motel Cost</button>
                        </a>
                        <a href="/game" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">Game J2Team</button>
                        </a>
                        <a href="/random" class="right-menu-link">
                            <button type="button" class="list-group-item list-group-item-action">Game Random</button>
                        </a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/handle.right.menu.js"></script>
</header>