
{{#> main}}
    {{#*inline "content"}}
        <input type="hidden" hidden class="api-link" value="{{apiLink}}/login">
        <form>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" name="userName" placeholder="Enter User Name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="pw" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button class="btn btn-primary btn-login">Login</button>
        </form>
        <script src="/js/login.js"></script>
    {{/inline}}
{{/main}}
    