<div class="mt-4">
    <form method="POST" action="/timeline/store">
        <div class="form-group">
            <label for="timeFrom">Time From</label>
            <input type="text" name="timeFrom" class="form-control" placeholder="Time From">
        </div>
        <div class="form-group">
            <label for="timeEnd">Time End</label>
            <input type="text" name="timeEnd" class="form-control" placeholder="Time End">
        </div>
        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" name="company" class="form-control" placeholder="Company">
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" name="salary" class="form-control" placeholder="Salary">
        </div>
        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" name="position" class="form-control" placeholder="Position">
        </div>
        <div class="form-group">
            <label for="skill">Skill</label>
            <input type="text" name="skill" class="form-control" placeholder="Skill">
        </div>
        <div class="form-group">
            <label for="show">Show</label>
            <input type="text" name="show" class="form-control" placeholder="Show">
        </div>
        <div class="form-group">
            <label for="logo">Logo</label>
            <input type="text" name="logo" class="form-control" placeholder="Logo">
        </div>
        <div class="form-group">
            <label for="adminKey">Admin Key</label>
            <input type="text" name="adminKey" class="form-control" placeholder="Admin Key *">
        </div>
        <button type="submit" class="form-control action-button animate green">Create Now</button>
    </form>
</div>